*.o
*.so
*.a

/reference/lua-5.1.5/src/lua
/reference/lua-5.1.5/src/luac

/reference/LuaJIT-2.0.5/src/luajit
/reference/LuaJIT-2.0.5/src/host/buildvm
/reference/LuaJIT-2.0.5/src/host/buildvm_arch.h
/reference/LuaJIT-2.0.5/src/host/minilua
/reference/LuaJIT-2.0.5/src/jit/vmdef.lua
/reference/LuaJIT-2.0.5/src/lj_bcdef.h
/reference/LuaJIT-2.0.5/src/lj_ffdef.h
/reference/LuaJIT-2.0.5/src/lj_folddef.h
/reference/LuaJIT-2.0.5/src/lj_libdef.h
/reference/LuaJIT-2.0.5/src/lj_recdef.h
/reference/LuaJIT-2.0.5/src/lj_vm.s


#Added by cargo
#
#already existing elements are commented out

/target
**/*.rs.bk
